<app-navbar></app-navbar>

<div class="image">
    
<div class="aligncenter center">
   <i class="fa fa-user" style="font-size: xx-large;margin-top:400px;;position:absolute;color: white;">&nbsp;{{stats.countUsers}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-comments" style="font-size: xx-large;margin-top:400px;;position:absolute;color: white;">&nbsp;{{stats.countReviews}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-shopping-bag" style="font-size: xx-large;margin-top:400px;position:absolute;color: white;">&nbsp;{{stats.countPosts}}</i>
</div>
</div>